################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HidGuardian/v15
/build/obj/Release
/Release
/sys/Release
/sys/x64/Release
/x64/Release
/build/bin/Release
/packages
/build/obj/Debug
/.tmp
/artifacts
/build/bin/Debug
/Debug
/disk1
/sys/Debug
/verpatch.exe
/verpatch-ReadMe.txt
/verpatch-1.0.15.1-x86-codeplex.zip
/ver-self.cmd
/setup.rpt
/setup.inf
/drivers/HidGuardian
/sys/HidGuardian.vcxproj.user
/sys/x64/Debug
/x64/Debug
/bin
/src/HidCerberus/x64
/src/HidCerberus/Zerberus.db
/src/HidCerberus/HidCerberus.vcxproj.user
/src/HidCerberus/HidCerberus.db
/sys
/src/HidCerberus/Zerberus.aps
/.vs/Vigils.NET/v15
/src/Vigils.NET/HidCerberus.Vigils.Core.YAML/obj
/src/Vigils.NET/HidCerberus.Vigils.Core.YAML/bin/Debug/netcoreapp2.0
/src/Vigils.NET/CoreVigilTestHost/bin/Debug/netcoreapp2.0
/src/Vigils.NET/CoreVigilTestHost/obj
/src/HidCerberus/Release/HidCerberus.tlog
/src/HidCerberus/Release
/src/Vigils.NET/HidCerberus.Vigils.Core.YAML/bin/Release/netcoreapp2.0
/.vs/config
/src/Vigils.NET/HidCerberus.Vigils.Core.Webhooks/obj
/src/Vigils.NET/CoreVigilTestHost/bin/Release/netcoreapp2.0
/src/Vigils.NET/HidCerberus.Vigils.Core.Webhooks/bin/Debug/netcoreapp2.0
/src/Vigils.NET/HidCerberus.Vigils.Core.Webhooks/bin/Release/netcoreapp2.0
