################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HidGuardian/v15
/build/obj/Release
/Release
/sys/Release
/sys/x64/Release
/x64/Release
/build/bin/Release
/packages
/bin/x86
/bin/x64
/build/obj/Debug
